@import "./colors";

* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Playfair Display;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  padding: 1rem 0 0.5rem 0;
  font-weight: 700;
  letter-spacing: 0em;
  z-index: 1;

  .logo {
    margin-right: 24rem;
    font-size: 32px;
    line-height: 43px;
    text-align: left;

    span {
      &.cap_case {
        text-transform: capitalize;
      }
      &.up_case {
        text-transform: uppercase;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    text-align: left;

    li {
      margin-left: 4rem;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    }
  }
}
